html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background:green;
}
#canvas {
    background:#c7a384;
    /* border: 10px solid black; */
    /*margin-left: 1%;*/
    margin-top: 1%;
    z-index: 1000;
}
#content__game-pause {
    display: none;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 100px;
}
#content__game-game-over-drawn {
    display: none;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 100px;
}
#content__game-game-over-wrapper {
    display: none;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}
#content__game-game-over-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#content__game-winner-first {
    font-size: 50px;
}
.content__game-winner {
    margin: 10px;
    text-align: center;
}
/*         menu          */
/*//////////////////////////*/

.content__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 98vh;		
}
.content__header-wrapper {
    width: 30%;
    background: black;
    border-radius: 40px;
}
.content__header-menu {
    position: relative;
    color: lightgreen;
    font-size: 50px;
    list-style: none;
    font-weight: bold;
}
.content__header-menu-toggle {
    padding: 10px;
    text-shadow: 8px 5px 5px rgb(187, 107, 61, 0.4);
}

.content__header-menu-images {
    position: absolute;
    width: 60px;
}
#snake {
    left: 360px;
}
#snakes {
    left: 415px;
}
#difficultyDegree {
    width: 100px;
    left: 465px;
}
#walls {
    width: 80px;
    left: 325px;
}
#items {
    width: 100px;
    top: 32.5%;
}
#keyboard {
    width: 150px;
    top: 37.5%;
}
#options {
    width: 70px;
    left: 380px;
    top: 52.5%;
}
#playerRange {
    position: absolute;
    width: 100px;
    top: 4.5%;
    right: 30%;
}
#range {
    position: absolute;
    left: 28%;
    top: 20%;
    font-weight: bold;
    font-size: 40px;
}
.range {
    width: 300px;
    height: 2px;
    color: white;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00bcd4;
}
.results {
    color: #00bcd4;
}
input[type=checkbox] {
    display: none;
}

li, img, select:hover {
    cursor: pointer;
}

#resumeBtn {
    display: none;
}
#settings {
    top: 40px;
    left: 475px;
}
#goBack {
    display: none;
    top: 40px;
    left: 475px;
    transform: rotate(180deg);
}

.content__header-intro-container {
    position: relative;
    height: 98vh;
    width: 69%;
    background: yellowgreen;
    border-radius: 40px;
}
.content__header-intro-headline {
    font-size: 100px;
    font-weight: bold;
    padding: 7% 10%;
    margin: 0;
}
.content__header-intro-image {
    position: absolute;
    border-radius: 20px;
    top: 27%;
    left: 40%;
}
.content__header-intro-scores-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 34.5% 0 0 58%;
}
.content__header-intro-scores {
    margin: 0;
    padding: 5px;
    font-style: italic;
}
.resultInt {
    color: red;
}

#submitBtn {
    display: block;
    text-align: center;
    margin-right: 45px;
    border: 2px solid white;
    color: whitesmoke;
    background: grey;
    font-size: 60px;
    padding: 0;
    border-radius: 5px;
}

/*     keyboard-config      */
/*//////////////////////////*/

#content__player-controls-display {
    display: none;
    position: relative;
    height: 98vh;
    width: 69%;
    background: yellowgreen;
    border-radius: 40px;
}

.content__player-controls-headline {
    text-align: center;
}

.content__player-controls-wrapper {
   display: flex; 
}

.content__player-controls-subline {
    padding-left: 40px;
}

.content__player-controls {
    width: 300px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px;
    justify-content: space-around
}
.content__controls {
    font-weight: bold;
    font-size: 20px;
}

.content__controls-toggle {
    border: 2px solid black;
    background: white;
    text-align: center;
    width: 50px;
    padding: 4px;
}
.content__player-controls-image-setting {
    width: 250px;
}
.content__controls-set-btn-wrapper{
    display: flex;
    justify-content: space-around;
}
#content__set-controls {
    width: 40%;
    font-size: 40px;
    padding: 10px; 
}

#content__default-controls {
    width: 40%;
    font-size: 40px;
    padding: 10px; 
}
.content__game-controls {
    width: 350px;
    padding-left: 40px;
}
#content__game-controls-leertaste {
    padding-left: 30px;
}
#content__game-controls-escape {
    padding-left: 50px;
}

.content__items-wrapper {
    display: none;
}

#content__game-mods {
    display: none;
    position: relative;
    height: 98vh;
    width: 69%;
    background: yellowgreen;
    border-radius: 40px;
}

#content__items-wrapper {
    display: none;
    position: relative;
    height: 98vh;
    width: 69%;
    background: yellowgreen;
    border-radius: 40px;
}