<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>snake-the-game</title>
</head>
<style>
    html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #canvas {
        background:#c7a384;
        border: 10px solid black;
		margin-left: 5%;
		margin-top: 2%;
    }
	.headline {
		position: absolute;
		right: 7%;
		top: 0;
		width: auto;
		height: auto;
		font-size: 40px;
		text-align: center;
	}
	#speed {
		position: absolute;
		right: 10%;
		top: 12%;
		width: 220px;
		height: auto;
		font-size: 40px;
		padding: 20px;
		border-radius: 10px;
	}
	#walls {
		position: absolute;
		right: 2%;
		top: 22%;
		width: 440px;
		height: auto;
		font-size: 40px;
		padding: 20px;
		border-radius: 10px;
	}
	#resetBtn {
		display: none;
	}
	#stopBtn {
		display: none;
	}
	#resumeBtn {
		display: none;
	}

</style>
<body>
	<div>
		<canvas id="canvas" width="1300" height="800"></canvas>
	</div>

	<h4 class="headline">Select your options:</h4>
	<select id="speed">
		<option value="300">easy</option> 
		<option value="200" selected>medium</option>
		<option value="100">hard</option>
	</select>
	<select id="walls">
		<option value="false" selected>don't touch the walls</option>
		<option value="true">go throw the walls</option>
	</select>
	<button type="button" id="startBtn">Start</button> 
	<button type="button" id="resetBtn">Reset</button>
	<button type="button" id="stopBtn">Stop</button> 
	<button type="button" id="resumeBtn">Resume</button> 

<script>

	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');
	var keys = [];
	var key = 'right';
	var score = 0;
	var balls;
	var food;
	var foodFirstPoint = 50;
	var foodSecondPoint = 100;
	var start = false;
	var wall = document.getElementById('walls');
	var wallRun = wall.options[wall.selectedIndex].value;
	var running = false;

	var foodArrayWidth = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900,950, 1000, 1050, 1100, 1150, 1200];
	var foodArrayHeight = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700];

	var foodx = foodArrayWidth[Math.floor(Math.random() * foodArrayWidth.length)];
	var foody = foodArrayHeight[Math.floor(Math.random() * foodArrayHeight.length)];

	var snakeFoodxOne = foodFirstPoint + foodx;
	var snakeFoodxTwo = foodSecondPoint + foodx;
	var snakeFoodyOne = foodSecondPoint + foody;
	var snakeFoodyTwo = foodFirstPoint + foody;

	document.getElementById('startBtn').onclick = function() {
		if (start == false) {
			running = true
			start = true;
			var timeSpeed = document.getElementById("speed");
			speed = timeSpeed.options[timeSpeed.selectedIndex].value; //priview which option is selected and take the value from
			speedSetting = setInterval(generateSnake, speed);
			init();
			changeWall();
			document.getElementById('resetBtn').style.display = 'block';
			document.getElementById('startBtn').style.display = 'none';
			document.getElementById('stopBtn').style.display = 'block'; //should be display none as default
		}
	};

	document.getElementById('resetBtn').onclick = function() {
		if (start == true) {
			start = false
			generateSnake();
			clearInterval(speedSetting);  //clears a timeset (for example a new interval)
			document.getElementById('resetBtn').style.display = 'none';
			document.getElementById('startBtn').style.display = 'block';
			document.getElementById('stopBtn').style.display = 'none';
			document.getElementById('resumeBtn').style.display = 'none';
		}
	};

	document.getElementById('stopBtn').onclick = function() {
		if (running == true) {
			running = false;
			clearInterval(speedSetting);
			document.getElementById('stopBtn').style.display = 'none';
			document.getElementById('resumeBtn').style.display = 'block';
		}
	};

	document.getElementById('resumeBtn').onclick = function() {
		if (running == false) {
			running = true;
			speedSetting = setInterval(generateSnake, speed);
			document.getElementById('stopBtn').style.display = 'block';
			document.getElementById('resumeBtn').style.display = 'none';
		}
	};

	function init(){
		key = 'right';
		score = 0;
		balls = [
			{x:50, y:50},
			{x:100, y:50},
			{x:150, y:50}
		];
		createFood();
	}
	
    document.addEventListener('keydown', function(e){
        var keyCode = e.keyCode;
        if(keyCode == 37 && key != 'right'){
            key = 'left';
        } 
        if(keyCode == 38 && key != 'down'){
            key = 'up';
        }
        if(keyCode == 39 && key != 'left'){
            key = 'right';
        }
        if(keyCode == 40 && key != 'up'){
            key = 'down';
        } 
    });
	
	function createFood() {
        foodx = foodArrayWidth[Math.floor(Math.random() * foodArrayWidth.length)];
        foody = foodArrayHeight[Math.floor(Math.random() * foodArrayHeight.length)];

        snakeFoodxOne = foodFirstPoint + foodx;
        snakeFoodxTwo = foodSecondPoint + foodx;
        snakeFoodyOne = foodSecondPoint + foody;
        snakeFoodyTwo = foodFirstPoint + foody;

        ctx.beginPath();
        ctx.moveTo(snakeFoodxOne, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyOne);
        ctx.lineTo(snakeFoodxOne, snakeFoodyOne);
        ctx.closePath();
    }

	function add(){
		var lastBall = balls[balls.length-1];
		if(key == 'right'){
			balls.push({x:lastBall.x + 50, y:lastBall.y});
		}
		if(key == 'down'){
			balls.push({x:lastBall.x, y:lastBall.y + 50});
		}
		if(key == 'left'){
			balls.push({x:lastBall.x - 50, y:lastBall.y});
		}
		if(key == 'up'){
			balls.push({x:lastBall.x, y:lastBall.y - 50});
		}
	}

	function generateSnake(){
		ctx.clearRect(0, 0, 1300, 800);
		balls.shift(); //delete the last ball
		add();
		
		var lastBall = balls[balls.length - 1];

		if(lastBall.x == snakeFoodxOne && lastBall.y == snakeFoodyTwo){
			score += 5;
			add();
			createFood();
		}

		for(var i = 0; i < balls.length; i++){
			ball = balls[i];

			if(i == balls.length - 1){
				ctx.fillStyle = "maroon";
			} else{
				ctx.fillStyle = "green";
			}
			
			if (wallRun == 'true') {
				if(ball.x > 1300){
					ball.x = 0;
				}
				if(ball.x < 0){
					ball.x = 1300;
				}
				if(ball.y > 800){
					ball.y = 0;
				}
				if(ball.y < 0){
					ball.y = 800;
				}
			} else {
				if(ball.x > 1300){
					alert("Game Over! Your Score Is: " + score);
					init();
				}
				if(ball.x < 0){
					alert("Game Over! Your Score Is: " + score);
					init();
				}
				if(ball.y > 800){
					alert("Game Over! Your Score Is: " + score);
					init();
				}
				if(ball.y < 0){
					alert("Game Over! Your Score Is: " + score);
					init();
				}
			}

			if(ball.x == lastBall.x && ball.y == lastBall.y && i < balls.length - 2){
				alert("Game Over! Your Score Is: " + score);
				init();
			}
			if (start == true) {
				ctx.fillRect(ball.x, ball.y, 49, 49);
			}
		}
		if (start == true) {
			ctx.fillRect(snakeFoodxOne, snakeFoodyTwo, 49, 49);
		}
	}
	// balls = [
	// 		{x:50, y:50},
	// 		{x:100, y:50},
	// 		{x:150, y:50}
	// 	];

	function changeWall() {
		wall = document.getElementById('walls');
		wallRun = wall.options[wall.selectedIndex].value;
	}

</script>
</body>
</html>