<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snake The Game</title>
</head>
<style>
    html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #canvas {
        background:grey;
        border: 10px solid crimson;
    }

</style>
<body>

    
<canvas id="canvas" width="1300" height="800"></canvas>

<script>
    var canvas = document.querySelector('canvas');
    var ctx = canvas.getContext("2d");
    var snakeTail = canvas.getContext("2d");

    document.addEventListener("keydown", keysPressed, false);
    document.addEventListener("keydown", keysReleased, false);

    window.onload = function setup() {
        food();
        setInterval(drawSquare, 500);
    }
    var tx = 0;
    var ty = 0;
    var path = [0];
    var keys = [];
    var x = 0;
    var y = 0;
    var deltaX = 50;
    var deltaY = 0;
    var foodx = (Math.random() * innerWidth);
    var foody = (Math.random() * innerHeight);
    var squareFirstPoint = 50;
    var squareSecondPoint = 100;

    var foodArrayWidth = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900,950, 1000, 1050, 1100, 1150, 1200];
    var foodArrayHeight = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700];

    function drawSquare(){
        
        // snakeTail.clearRect(x, y, canvas.width, canvas.height);
        ctx.clearRect(x, y, canvas.width, canvas.height); // Der Aufruf von clearRect stellt sicher, dass wir unsere Leinwand löschen, bevor wir versuchen, unser Quadrat neu zu zeichnen.
        //the square
        ctx.beginPath();
        ctx.moveTo(50 + x, 50 + y);
        ctx.lineTo(100 + x, 50 + y);
        ctx.lineTo(100 + x, 100 + y);
        ctx.lineTo(50 + x, 100 + y);
        ctx.closePath();
        // ctx.fillRect(50 + x, 50 + y, 100 + x, 100 + y);
        
        ctx.fillStyle = "green";
        ctx.fill();

        if (x + 150 > 1300 || x < 0) {
            deltaX = -deltaX;
        }
        if (y + 150 > 800 || y < 0) {
            deltaY = -deltaY;
        }

        ctx.beginPath();
        ctx.moveTo(snakeFoodxOne, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyOne);
        ctx.lineTo(snakeFoodxOne, snakeFoodyOne);
        ctx.closePath();
        // ctx.fillRect(snakeFoodxOne, snakeFoodyTwo, snakeFoodxTwo, snakeFoodyOne);

        ctx.fillStyle = "maroon";
        ctx.fill();

        if(snakeFoodxOne == 50 + x && snakeFoodyTwo == 50 + y) {
            // path.push(1);
            ctx.fillStyle = "green";
            ctx.fill();
            food();
        }
        x += deltaX;
        y += deltaY;
    }

    // function add(){
	// 		var lastBall = balls[balls.length-1];
	// 		if(dir == 'right'){
	// 			balls.push({x:lastBall.x+20, y:lastBall.y});
	// 		}
	// 		if(dir == 'down'){
	// 			balls.push({x:lastBall.x, y:lastBall.y+20});
	// 		}
	// 		if(dir == 'left'){
	// 			balls.push({x:lastBall.x-20, y:lastBall.y});
	// 		}
	// 		if(dir == 'up'){
	// 			balls.push({x:lastBall.x, y:lastBall.y-20});
	// 		}
	// 	}

    // function ani(){
    //     ctx.clearRect(0,0, 888, 555);
    //     balls.shift();
    //     add();
    //     var lastBall = balls[balls.length-1];

    //     if(lastBall.x == food.x*20 && lastBall.y == food.y*20){
    //         score += 5;
    //         add();
    //         createFood();
    //     }

    //     for(var i = 0; i<balls.length; i++){
    //         ball = balls[i];

    //         if(i == balls.length-1){
    //             ctx.fillStyle = "lightgreen";
    //         } else{
    //             ctx.fillStyle = "#ff0000";
    //         }
    //         if(ball.x > 780){
    //             ball.x = 0;
    //         }
    //         if(ball.x < 0){
    //             ball.x = 780;
    //         }
    //         if(ball.y > 480){
    //             ball.y = 0;
    //         }
    //         if(ball.y < 0){
    //             ball.y = 480;
    //         }

    //         if(ball.x == lastBall.x && ball.y == lastBall.y && i < balls.length-2){
    //             alert("Game Over. Your Score Is :" +score);
    //             init();
    //         }

    //         ctx.fillRect(ball.x, ball.y, 19, 19);
    //     }
    //     ctx.fillRect(food.x*20, food.y*20, 19, 19);
    //     ctx.fillText("Store: "+ score, 480, 480);
    // }

    function food() {
        foodx = foodArrayWidth[Math.floor(Math.random() * foodArrayWidth.length)];
        foody = foodArrayHeight[Math.floor(Math.random() * foodArrayHeight.length)];

        snakeFoodxOne = squareFirstPoint + foodx;
        snakeFoodxTwo = squareSecondPoint + foodx;
        snakeFoodyOne = squareSecondPoint + foody;
        snakeFoodyTwo = squareFirstPoint + foody;

        ctx.beginPath();
        ctx.moveTo(snakeFoodxOne, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyTwo);
        ctx.lineTo(snakeFoodxTwo, snakeFoodyOne);
        ctx.lineTo(snakeFoodxOne, snakeFoodyOne);
        ctx.closePath();

        

        ctx.fillStyle = "maroon";
        ctx.fill();
    }

    function keysPressed(e) {
        // store an entry for every key pressed
        keys[e.keyCode] = true;
        // left
        if (keys[37]) {
            if (deltaX !== 50) {
                deltaY = 0;
                deltaX = -50;
            }
        }
        // right
        if (keys[39]) {
            if (deltaX !== -50) {
                deltaY = 0;
                deltaX = 50;
            }
        }
        // down
        if (keys[38]) {
            if (deltaY !== 50) {
                deltaX = 0;
                deltaY = -50;
            }
        }
        // up
        if (keys[40]) {
            if (deltaY !== -50) {
                deltaX = 0;
                deltaY = 50;
            }
        }
        // e.preventDefault(); //only when you want to move aslant
    }
    
    function keysReleased(e) {
        // mark keys that were released
        keys[e.keyCode] = false;
    }        



    // if (path.length > 1) {
    //             // x += -deltaX;
    //             // y += -deltaY;
    //         for (var i = 0; i < path.length; i++) {
    //             x += deltaX;
    //             y += deltaY;

    //             ctx.beginPath();
    //             ctx.moveTo(50 + x, 50 + y);
    //             ctx.lineTo(100 + x, 50 + y);
    //             ctx.lineTo(100 + x, 100 + y);
    //             ctx.lineTo(50 + x, 100 + y);
    //             ctx.closePath();

    //          
    //             ctx.strokeStyle = "grey";
    //             ctx.stroke();
    //             ctx.fillStyle = "green";
    //             ctx.fill();

    //             x += -deltaX;
    //             y += -deltaY;
    //             console.log(x);
    //             console.log(y); 
    //         }
    //         // ctx.fillRect(snakeFoodxOne, snakeFoodyTwo, snakeFoodxTwo, snakeFoodyOne);
    //     }
    
    
</script>
</body>
</html>